In [4]:
import pandas as pd

In [5]:
#Hospitalization_Discharge
df0 = pd.read_excel('Cardiac_Outcomes.xlsx',sheet_name=0)
#CardiacComplications
df1 = pd.read_excel('Cardiac_Outcomes.xlsx',sheet_name=1)
#Responsivenes
df2 = pd.read_excel('Cardiac_Outcomes.xlsx',sheet_name=2)
#PatientHistory
df3 = pd.read_excel('Cardiac_Outcomes.xlsx',sheet_name=3)
#Labs
df4 = pd.read_excel('Cardiac_Outcomes.xlsx',sheet_name=4)
#Demography
df5 = pd.read_excel('Cardiac_Outcomes.xlsx',sheet_name=5)
#Patient_Precriptions
df6 = pd.read_excel('Cardiac_Outcomes.xlsx',sheet_name=6)

### Question#46 Convert occupation into numeric by Label encoding

In [35]:
#importing LabelEncoder class from scikit-learn
from sklearn.preprocessing import LabelEncoder

#Create an instance of LabelEncoder() and store it in labelencoder variable/object le
le = LabelEncoder()
#Apply fit for the occupation column
df5.occupation=le.fit_transform(df5.occupation)


distinct_occu = df5.occupation.value_counts(dropna=False)
distinct_occu

occupation
2    1670
3     198
1      89
5      27
4      17
0       7
Name: count, dtype: int64

### Question#45 Create a dataframe with date and time as columns, where the values are the admission time

In [36]:
#creating a dataframe using Admission_date variable from Hospitalization_Discharge
df_date = pd.DataFrame({'Adm_date_tm':df0['Admission_date']})
df_date['date'] = df_date['Adm_date_tm'].dt.date
df_date['time'] = df_date['Adm_date_tm'].dt.time

df_date.head()

  Adm_date_tm        date      time
0  2017-01-24  2017-01-24  00:00:00
1  2017-05-05  2017-05-05  00:00:00
2  2016-11-18  2016-11-18  00:00:00
3  2017-10-02  2017-10-02  00:00:00
4  2019-11-17  2019-11-17  00:00:00